doctype html
html(lang="en")
	include ../../common-html/head
	body
		table
			thead
				th ID
				th Project ID
				th State
				th HTML
				th CSS
				th Live HTML
				th Live Link
				th Live Token
				th Visibility
				th Rating
				th Build Notes
				th Version
				th Created On
				th Last Modified
			each build, name in builds
				tr
					td #{build._id}
					td #{build.projectId}
					td #{build.state}
					td #{build.html}
					td #{build.css}
					td #{build.liveHTML}
					td #{build.liveLink}
					td #{build.liveToken}
					td #{build.visibility}
					td #{build.rating}
					td #{build.build_notes}
					td #{build.version}
					td !{new Date(build.createdOn).toString()}
					td !{new Date(build.lastModified).toString()}