doctype html
html(lang="en")
	include ../../common-html/head
	body
		table
			thead
				th ID
				th Shallow ID
				th Name
				th Project
				th Created By
				th JSON
				th Created On
				th Last Modified
			each behaviour, name in datums
				tr
					td #{behaviour._id}
					td #{behaviour.shallowId}
					td #{behaviour.name}
					td #{behaviour.project_id}
					td #{behaviour.createdBy}
					td !{ JSON.stringify( behaviour.json )}
					td !{new Date(behaviour.created_on).toString()}
					td !{new Date(behaviour.last_modified).toString()}