doctype html
html(lang="en")
	include ../../common-html/head
	body
		table
			thead
				th ID
				th Name
				th Project
				th Created By
				th JSON
				th Created On
				th Last Modified
			each group, name in datums
				tr
					td #{group._id}
					td #{group.name}
					td #{group.project_id}
					td #{group.createdBy}
					td !{ JSON.stringify( group.json )}
					td !{new Date(group.created_on).toString()}
					td !{new Date(group.last_modified).toString()}