doctype html
html(lang="en")
	include ../../common-html/head
	body
		table
			thead
				th ID
				th Shallow ID
				th Project
				th Behaviour
				th Container
				th Created By
				th Enter
				th Initialise
				th Dispose
				th Frame
				th Created On
				th Last Modified
			each script, name in datums
				tr
					td #{script._id}
					td #{script.shallowId}
					td #{script.project_id}
					td #{script.behaviour_id}
					td #{script.container_id}
					td #{script.createdBy}
					td #{script.onEnter}
					td #{script.onInitialize}
					td #{script.onDispose}
					td #{script.onFrame}
					td !{new Date( script.created_on ).toString()}
					td !{new Date( script.last_modified ).toString()}