doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0")
		meta(name="fragment", content="!")
		title(App Engine)
		link(rel="SHORTCUT ICON", href=url + "/media/page-icon.png")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Raleway:100", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href=url + "/style.css", type="text/css")
		link(rel="stylesheet", href=url + "/style-directives.css", type="text/css")
		link(rel="stylesheet", href=url + "/style-trike.css", type="text/css")
		link(rel="stylesheet", href=url + "/loading-bar.css", type="text/css")
		script(type="text/javascript", src=url + "/third-party/jquery-2.1.4.min.js")
		script(type="text/javascript", src=url + "/third-party/mouse-wheel.js")
		script(type="text/javascript", src=url + "/third-party/jquery-ui.js")
		script(type="text/javascript", src=url + "/third-party/jscolor.js")
		script(type="text/javascript", src=url + "/third-party/jquery-shortcut.js")
		script(type="text/javascript", src=url + "/third-party/jstepper.js")
		script(type="text/javascript", src=url + "/third-party/jquery.scrollTo-1.4.3.1.js")
		script(type="text/javascript", src=url + "/third-party/file-uploader.js")
		script(type="text/javascript", src=url + "/third-party/ace-min/ace.js")
		script(type="text/javascript", src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
		script(type="text/javascript").
			var _users = "#{usersURL}"
			var _url = "#{url}"
			window.prerenderReady = false;
		script(type="text/javascript", src=url + "/application.js")
		base(href="/")

	body()
		en-templates(style="display:none;")
			include ../resources/templates/splash-welcome.html
			include ../resources/templates/splash-login.html
			include ../resources/templates/splash-new-project.html
			include ../resources/templates/splash.html
			include ../resources/templates/message-box.html
			include ../resources/templates/splash-loading.html
			include ../resources/templates/toolbar-main.html
			include ../resources/templates/options-project.html
			include ../resources/templates/options-user.html
			include ../resources/templates/options-build.html
			include ../resources/templates/file-viewer.html
		div(id="application")
			div(id="toolbar")
			div(id="stage")