doctype html
html(lang="en")
	include ../../common-html/head
	body
		table
			thead
				th ID
				th Name
				th User
				th Size
				th favourite
				th Tags
				th URL
				th Path
				th Preview URL
				th Preview Path
				th Global
				th Created On
				th Last Modified
			each file, name in datums
				tr
					td #{file._id}
					td #{file.name}
					td #{file.user}
					td #{file.size}
					td #{file.favourite}
					td !{file.tags.join(",")}
					td #{file.url}
					td #{file.path}
					td #{file.previewUrl}
					td #{file.previewPath}
					td #{file.global}
					td !{new Date(file.createdOn).toString()}
					td !{new Date(file.lastModified).toString()}